#one{
    background-color: black;
    height: 70px;
    width: 100%;
    /* margin-top: 0px; */
    padding-top: 60px;
    padding-left: 250px;
    position: fixed;
    inset: 0;
}

#one>nav>a{
    margin: 40px;
  
}
.main{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product1>img{
    height: 250px;
    width: 250px;
    border: 1px rgb(148, 151, 154) solid;
}
.product1{
    /* border: 1px solid black;  */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   
}
h1{
    text-align: center;

    
}
p{
    text-align: center;
}
button{
 margin-left: 80px;
 background-color: rgb(163, 155, 144);
 height: 40px;
 border-radius: 10% ;
 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media all and  (min-width:320px) and (max-width:767px){
 #one{
    height: 20px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 30px;
 
}
/* #pic{
    height: 0px;
    width: 50px;
} */
   
#one>nav>a{
    margin:19px;
  
}
.main{
    margin-top: 115px;
    height: 100px;
    width: 160px;
    display: grid;
    grid-template-columns: repeat(2,100%);
    column-gap: 20px;
    row-gap: 10px;
}
.product1{
    height:400px;
}
.product1>img{
    height: 200px;
    width: 150px;
}
h1{
    text-align: center;

    
}
p{
    text-align: center;
}
button{
 margin-left: 40px;
}
}